*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.fa-2x {
    font-size: 1.5em  !important;
    cursor: pointer;
}
.header{
    background-color: #4a4f54;
}
.div{
    padding-left: .5rem !important;
}
.title-p{
    font-size: 1.7rem;
    height: 1.5rem;
    font-weight: 500;
    margin-left: 2%;
    color: rgb(247, 243, 243);
}
.title-btn{
    width: 10%;
}
.title-logo{
    height: auto;
    width: 2.5rem;
}
.title{
background-color: gray;
text-align: center;
height: 2.4rem;
width: 100%;
}
.title p{
    /* margin:.5rem auto; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
    font-size: 1.5rem;
    color: rgb(222, 226, 226);
}
#requests td{
    overflow-x: auto;
}
#requests th{
    overflow-x: hidden;
}
.logout{
    width: 16%;
    margin-right: .4rem;
} 
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-img{
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(57, 7, 7);
    width: 56px;
    height: 60px;
}
.describtion{
    width: 220px;
    color: rgb(255, 255, 255) ;
    text-shadow: 1px 1px 2px rgb(57, 7, 7);
    font-family: sans-serif;
}