* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.valid {
    border: 1px solid green;
}

.not_valid {
    border: 1px solid red;
}

/* small{
    width: .5rem;
} */
.body-img {
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

form {
    background-color: white;
    margin: 2rem auto;
    box-shadow: 2px 2px 16px 0px rgb(192, 196, 198);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.btn_submit {
    background-color: rgb(174, 178, 180);
    font-size: 1.1rem;
}

.btn_log {
    background-color: #626465;
}